html{
    font-family: "futura";
    text-decoration: none;
}
body {
    height:100%;
    text-align: center;	
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(ferryb.jpg);
    margin: auto;
    width: 100%;
}

.fa {
    padding: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    position:bottom;

}
.fa:hover {
    -webkit-transform: scale(1.21);
    -ms-transform: scale(1.21);
    transform: scale(1.21);
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
}
.fa-github{
    background: white;
    border: solid;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}