body {
    height: 100%;
    text-align: center;	
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-image: url(landscapeBG.jpg);
    margin: auto;
    width: 100%;
    font-family: "futura";
}
.inputGroup{
    opacity:30%;
    position=bottom;
}

.input[type=text]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
    font-size: 16px;
}

#backArrow{
    position:left;
}

#message{
    background-color: #3CBC8D;
    overflow:auto;
    resize:auto;
}