body {
    height:100%;
    text-align: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed-center;
    background-image: url(landscapeBG.jpg);
    margin: auto;

}
.inputGroup{
    opacity:30%;
    position:left;
    max-height: 50%;
}

.input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
    font-size: 18px;
}

#backArrow{
    position:left;
}

#message{
    font-family:futura;
    background-color: #3CBC8D;
    overflow:auto;
    resize:auto;
    width : 80%;
    color: white;
    font-size: 16px;
}

.fa {
    padding: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    position:bottom-left;

}
.fa:hover {
    -webkit-transform: scale(1.21);
    -ms-transform: scale(1.21);
    transform: scale(1.21);
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
}
.fa-github{
    background: white;
    border: solid;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}